@import url("https://use.typekit.net/uix0fgg.css");

.book .book-body p, .book .book-body h1, .book .book-body h2, .book .book-body h3, .book .book-body h4, .book .book-body h5, .book .book-body h6, .book .book-body ul, .book .book-body li, .book .book-body blockquote {
	font-family: calluna, serif;
	font-weight: 400;
	font-style: normal;
	font-variant-ligatures: common-ligatures;
  	-moz-font-feature-settings: "liga", "clig";
  	-webkit-font-feature-settings: "liga", "clig";
  	font-feature-settings: "liga", "clig";
}

.book .book-summary ul.summary li {
	font-family: calluna-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
	font-size: 16px;
	line-height: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal p {
  margin-top: 0em;
  margin-bottom: 0em;
}

p + p, h3 + p {
  text-indent: 1.2em;
}

li.chapter b {
  	font-variant-numeric: lining-nums;
 	-moz-font-feature-settings: "lnum";
 	-webkit-font-feature-settings: "lnum";
 	font-feature-settings: "lnum";
	color: #3f5061;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
	color: #1aa9ab;
}

/*
h1 + p::first-line {
  /* all small caps workaround
  text-transform: lowercase;
  font-variant: small-caps;
  * actual opentype all small caps code:
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  letter-spacing:.1em;
}
*/

h1 > .header-section-number {
  display: block;
  font-size: .8em;
  padding-right: 0em;
  /*font-family: calluna-sans, sans-serif;*/
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
  /*color: #3f5061;*/
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
  text-wrap: balanced;
  border-bottom: 2px solid #1aa9ab;
  line-height: 1.2em;
  padding-bottom: .5em;
  /* all small caps workaround
  text-transform: lowercase;
  font-variant: small-caps;
  */
  /* actual opentype all-small-caps code:
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  */
  /*letter-spacing:.1em;*/
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  font-weight: 700;
  font-size: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-style: italic;
  font-size: 1em;
  margin-bottom: 0em;
}

/* Rule separating subheads; issue: also puts rule directly between h2 and h3—could probably be solved by proper use of descendant selectors...
.book .book-body .page-wrapper .page-inner section.normal h3::before {
  content: "—";
    color: #3f5061;
    font-weight: 900;
    display: block;
    text-align: center;
    transform: scale(4,1);
    margin-bottom:1em;
}
*/

 /* Restart footnote numbers for each section. Following trail of solution to request asked here: https://community.rstudio.com/t/restart-footnote-numbering-in-each-chaptering/75628/4
*/

  /* don't show the wrong footnote calls */
  .footnote-ref sup,
  .footnoteRef sup {
    display: none;
  }

  /* use a counter for footnote calls */
  .page-inner {
    counter-reset: fn-call;
  }

  .footnote-ref,
  .footnoteRef {
    counter-increment: fn-call;
  }

  /* generate new footnote calls */
  .footnote-ref::after,
  .footnoteRef::after {
    content: counter(fn-call);
    position: relative;
    top: -.5em;
    font-size: 85%;
    line-height: 0;
    vertical-align: baseline;
  }

  /* use a counter for footnotes numbering */
  .footnotes ol {
    list-style: none;
    counter-reset: fn-number;
  }

  .footnotes li {
    counter-increment: fn-number;
  }

  .footnotes p::before {
    content: counter(fn-number) '. ';
  }
  
/* end Restart footnote numbers for each section. */
